{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex justify-center items-center min-h-screen background relative p-8">
    <main class="md:w-2/5 h-full p-8 rounded-md z-10 bg-light">
        <h2 class="font-bold text-primary text-3xl text-center p-4">Welcome to Collywood</h2>
        <form method="post" class="w-full flex flex-col gap-5">
            {% csrf_token %}
            <div>
                <label for="id_email">Email:</label>
                <input type="text" name="email" maxlength="150" autocapitalize="none" autocomplete="email" autofocus
                    id="id_email" class="rounded-lg block w-full p-2 border">
                {% comment %} <p>{{ form.errors }}</p> {% endcomment %}
            </div>
            <div>
                <label for="id_username">Username:</label>
                <input type="text" name="username" maxlength="100" id="id_username"
                    class="rounded-lg block w-full p-2 border">
            </div>
            <div>
                <label for="id_first_name">First Name:</label>
                <input type="text" name="first_name" maxlength="100" id="id_first_name"
                    class="rounded-lg block w-full p-2 border">
            </div>
            <div>
                <label for="id_last_name">Last Name:</label>
                <input type="text" name="last_name" maxlength="100" id="id_last_name"
                    class="rounded-lg block w-full p-2 border">
            </div>
            <div>
                <label for="id_school">School:</label>
                <input type="text" name="school" maxlength="100" id="id_school"
                    class="rounded-lg block w-full p-2 border">
            </div>
            <div>
                <label for="id_password1">Password:</label>
                <input type="password" name="password1" autocomplete="new-password" id="id_password1"
                    class="rounded-lg block w-full p-2 border">
            </div>
            <div>
                <label for="id_password2">Password confirmation:</label>
                <input type="password" name="password2" autocomplete="new-password" id="id_password2"
                    class="rounded-lg block w-full p-2 border">
            </div>
            <button class="bg-accent text-light w-2/5 p-2 rounded-lg mx-auto">Submit</button>
        </form>
    </main>
    <div class="absolute top-0 bg-black opacity-50 w-full h-full"></div>
</div>

{% endblock content %}