{% extends 'layout.html' %}
{% load static %}

{% block main %}
<div class="border m-24 p-4 md:p-14 mx-auto">

    <h2 class="p-4 text-primary text-3xl">Upload video</h2>
    <hr class="text-primary mb-8" />
    <div class="flex justify-center items-center dark:text-light">
        <form method="post" class="flex flex-col gap-5" id="new-video" enctype="multipart/form-data">
            <p id="success" class="text-center text-light fixed top-0 rounded-md p-2 text-small"></p>
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Upload Video" class="primary-btn-sm w-fit mx-auto" />
        </form>
        <video src="" class="hidden" id="vid"></video>
    </div>
</div>

{% endblock main %}
{% block javascript %}
<script>



</script>

<script>
    /*$("document").ready(() => {
        $("#new-video").on("submit", (e) => {
            e.preventDefault();
            //console.log(e.target[5].files[0].name)
            //console.log("testing")
            var fields = ["title", "description", "video_file", "category"]
            for (field in fields) {
                $("#id_" + fields[field]).removeClass("border-red-700")
                $("#err_" + fields[field]).text("")
                console.log(fields[field])
            }
            var formData = $("#new-video").serializeArray()
            userData = {}
            for (data in formData) {
                current = formData[data]
                userData[current.name] = current.value
            }
            /*console.log(formData)
            $("#vid").src = e.target[5].files[0].name
            console.log(e.target[5].files[0].name)*/

    /*$.ajax({
                url: "{% url 'upload-video' %}",
                type: "POST",
                data: userData,
                contentType: 'multipart/form-data'

                success: (json) => {
                    if (json["success"]) {
                        $("#success").addClass("bg-green-500")
                        $("#success").text(json["success"])
                        window.location.href = "{% url 'profile' %}"
                    } else {
                        for (err in json) {
                            $("#id_" + err).addClass("border-red-700")
                            $("#err_" + err).text(json[err][0]["message"])
                            console.log(json[err])
                        }
                    }
                    console.log(json)
                },

                error: (xhr, errmsg, err) => {
                    console.log(xhr.status + xhr.responseText)
                }
            })
        })
    })*/
</script>
{% endblock javascript %}