{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{%static 'font-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{%static 'styles.css' %}" />
  <script>
    tailwind.config = {
      darkMode: "class",
      theme: {
        extend: {
          colors: {
            primary: "#041562",
            secondary: "#11468F",
            accent: "#DA1212",
            light: "#FFFFFF",
            black: "#000000",
            box: "#3965A2",
          },
          fontFamily: {
            primary: ['Exo', 'sans-serif'],
          }
        }
      },
    }
  </script>
</head>

<body>
  {% block content %}{% endblock content %}
  <script src="{% static 'jquery.min.js' %}"></script>
  <script>
    $("document").ready(() => {

      $("#dark-mode-toggler").on("click", () => {
        $("html").toggleClass("dark")
        $("#toggler-icon").toggleClass("fa-toggle-off")
        $("#toggler-icon").toggleClass("fa-toggle-on")
      })

      $("#menu-text-toggler").on("click", () => {
        $(".menu-text").toggleClass("hidden")
      })
    })
  </script>
  {% block javascript %}

  {% endblock javascript %}
</body>

</html>